<h1>New Cat!</h1>

<%= render 'form', cat: @cat, action: :new %>

<!-- <form action="<%= cats_url %>" method="post">
    <label for="name">Name:</label>
    <input id="name" type="text" name="cat[name]">

    <br>

    <label for="color">Color:</label>
    <select id="color" name="cat[color]">
        <option disabled selected>--Please Select--</option>
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="orange">Orange</option>
        <option value="brown">Brown</option>
    </select>

    <br>

    <label for="birthdate">Birthdate:</label>
    <input id="birthdate" type="date" name="cat[birth_date]">

    <br>

    <label for="sex">Sex:</label>
    <select id="sex" name="cat[sex]">
        <option disabled selected>--Please Select--</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>

    <br>

    <label for="description">Description:</label>
    <textarea id="description" name="cat[description]"></textarea>

    <input type="submit" value="Add Cat!">
</form>